            p{
                font-family: Arial;
                margin-left: 5px;
                margin-bottom: 0;
                margin-top: 0;
            }
            .oliver, .luffy, .zoro{
                height: 233px;
                width: 145px;
                box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
                display: inline-block;
                margin-right: 10px ;
            }
            .pic{
                width: 145px;
                height: 150px;
                object-fit: cover;
            }
            .Oli{
                font-weight: bold;
                font-size: 16px;
                margin-top: 5px;
                margin-left: 5px;
            }
            .friends{
                color: rgb(199, 199, 199);
                font-size: 11px;
                margin-bottom: 8px;
                margin-top: 2px;
            }
            .add{
                background-color: rgb(39, 111, 255);
                font-size: 10px;
                color: white;
                border: none;
                border-radius: 2px;
                margin-left: 5px;
                padding: 7px 15px;
            }